//Importing global variables
@import '../../sass/assets/sass.scss';


.footer{
  background-color: $footer-bg-color;
  color: $footer-font-color;
  clear: both;
  padding: 10px;
  margin-left: auto;
  width: 100%;
  p {
  	color: $footer-font-color;
  }
  a {
  	color: $footer-link-color;
  		text-decoration: underline;
  	&:hover {
  		color: $footer-link-color;
  		text-decoration: underline;
  	}
  }
}
.layout{
  flex: 1;
	z-index: 0;
}

.arrow {
	width: 50px;
}

.cb {
	float: right;
	width: 150px;
}

.footerLeft {
	@include span-columns(9);
}

.footerRight {
	@include span-columns(3);
	@include omega();
	padding: 40px;
}
