//Importing global variables
@import '../../sass/assets/sass.scss';

.submitBtn {
	background: $school-color;
	border-color: $school-color;
	color: $light-font-color;
	margin-right: 20px;
	&:hover {
		background: darken($school-color, 10);
		border-color: darken($school-color, 10);
	}
}

.counters {
	position: relative;
	float: left;
	transition: all 0.2s ease-in-out;
	width: 100%;
	@include media($medium-screen) {
	  @include span-columns(4);
	}
}

.formGroup {
	@extend %clearfix;
}

.form {
	padding-top: 100px;
	padding-bottom: 50px;
	h2 {
		color: $school-color;
		font-size: 40px;
    font-weight: bold;
    margin: 0 0 30px;
	}
}